# all
*.o
*.a
*.a.*
*.o.*
*.la
*.la.*
*.so
*.so.*
*.dep
*.deps
*.depend
*.pc
*.orig
*.rej
*.lo
*.gdb
.sgbuilt_user
.libs
.copts_*
libtool
aclocal.m4
autom4te.cache
autom4te.cache/*
config.h.in~
config.log
configure.log
config.status
filesystem
fulldump

# fullpath
/romfs
/romfs/*
/images
/images/*
/dev
/dev/*
/etc/compile-date
/etc/default/RT2860_default_novlan
/etc/scripts/config.sh
/etc/Wireless/rf.bin
/etc/Wireless/RT2860/RT2860.dat
/lib/.config*
/lib/lib
/lib/include_shared
/lib/libiconv/libcharset/lib/Makefile
/lib/libiconv/libcharset/config.h
/lib/libiconv/preload/Makefile
/lib/libiconv/man/Makefile
/lib/libiconv/po/Makefile
/lib/libiconv/po/Makefile.in
/lib/libcurl/curl-config
/lib/libcurl/aclocal.m4
/lib/libcurl/docs/examples/Makefile
/lib/libcurl/docs/libcurl/Makefile
/lib/libcurl/docs/Makefile
/lib/libcurl/include/curl/Makefile
/lib/libcurl/include/Makefile
/lib/libcurl/lib/curl_config.h
/lib/libcurl/include/curl/curlbuild.h
/lib/libcurl/libcurl.pc
/lib/libcurl/lib/Makefile
/lib/libcurl/lib/stamp-h1
/lib/libcurl/libtool
/lib/libcurl/Makefile
/lib/libcurl/*/Makefile
/lib/libcurl/*/*/Makefile
/lib/libcurl/packages/AIX/Makefile
/lib/libcurl/packages/AIX/RPM/Makefile
/lib/libcurl/packages/EPM/curl.list
/lib/libcurl/packages/EPM/Makefile
/lib/libcurl/packages/Linux/Makefile
/lib/libcurl/packages/Linux/RPM/Makefile
/lib/libcurl/packages/Makefile
/lib/libcurl/packages/Solaris/Makefile
/lib/libcurl/packages/vms/Makefile
/lib/libcurl/packages/Win32/cygwin/Makefile
/lib/libcurl/packages/Win32/Makefile
/lib/libcurl/src/curl_config.h
/lib/libcurl/src/Makefile
/lib/libcurl/tests/configurehelp.pm
/lib/libcurl/tests/data/Makefile
/lib/libcurl/tests/libtest/Makefile
/lib/libcurl/tests/Makefile
/lib/libcurl/tests/server/Makefile
/lib/libcurl/tests/unit/Makefile
/lib/libcurl/tests/certs/scripts/Makefile
/lib/libcurl/curl-config
/lib/libcurl/docs/Makefile
/lib/libcurl/docs/examples/Makefile
/lib/libcurl/docs/libcurl/Makefile
/lib/libcurl/docs/libcurl/opts/Makefile
/lib/libcurl/include/Makefile
/lib/libcurl/include/curl/Makefile
/lib/libcurl/lib/Makefile
/lib/libcurl/libcurl.pc
/lib/libcurl/libtool
/lib/libcurl/packages/AIX/Makefile
/lib/libcurl/packages/AIX/RPM/Makefile
/lib/libcurl/packages/EPM/Makefile
/lib/libcurl/packages/EPM/curl.list
/lib/libcurl/packages/Linux/Makefile
/lib/libcurl/packages/Linux/RPM/Makefile
/lib/libcurl/packages/Makefile
/lib/libcurl/packages/Solaris/Makefile
/lib/libcurl/packages/Win32/Makefile
/lib/libcurl/packages/Win32/cygwin/Makefile
/lib/libcurl/packages/vms/Makefile
/lib/libcurl/src/Makefile
/lib/libevent/autom4te.cache
/lib/libevent/autom4te.cache/*
/lib/libevent/config.h
/lib/libevent/config.h.in~
/lib/libevent/configure
/lib/libevent/include/event2/event-config.h
/lib/libevent/include/Makefile
/lib/libevent/libevent_openssl.pc
/lib/libevent/libevent.pc
/lib/libevent/libevent_pthreads.pc
/lib/libevent/libtool
/lib/libevent/Makefile
/lib/libevent/*/Makefile
/lib/libevent/Makefile.in
/lib/libevent/*/Makefile.in
/lib/libevent/sample/Makefile
/lib/libevent/stamp-h1
/lib/libevent/test/Makefile
/lib/libiconv/tests/Makefile
/lib/libiconv/srclib/Makefile
/lib/libiconv/src/Makefile
/lib/libiconv/lib/config.h
/lib/libiconv/lib/Makefile
/lib/libiconv/config.h
/lib/libiconv/configure
/lib/libiconv/stamp-h1
/lib/libiconv/Makefile
/lib/libiconv/libtool
/lib/libiconv/preload/libtool
/lib/libiconv/libcharset/libtool
/lib/libiconv/libcharset/Makefile
/lib/libiconv/libcharset/configure
/lib/libiconv/libcharset/config.h.in
/lib/libiconv/libcharset/include/localcharset.h.build.in
/lib/libupnp/configure
/lib/libupnp/Makefile
/lib/libupnp/aclocal.m4
/lib/libupnp/Makefile.in
/lib/libupnp/docs/dist/Makefile
/lib/libupnp/docs/dist/Makefile.in
/lib/libupnp/ixml/Makefile
/lib/libupnp/ixml/Makefile.in
/lib/libupnp/ixml/doc/Makefile
/lib/libupnp/ixml/doc/Makefile.in
/lib/libupnp/threadutil/Makefile
/lib/libupnp/threadutil/Makefile.in
/lib/libupnp/upnp/Makefile
/lib/libupnp/upnp/Makefile.in
/lib/libupnp/upnp/doc/Makefile
/lib/libupnp/upnp/doc/Makefile.in
/lib/libupnp/upnp/sample/Makefile
/lib/libupnp/upnp/sample/Makefile.in
/lib/libnfnetlink/configure
/lib/libnfnetlink/Makefile
/lib/libnfnetlink/Makefile.in
/lib/libnfnetlink/src/Makefile
/lib/libnfnetlink/utils/Makefile
/lib/libnfnetlink/include/Makefile
/lib/libnfnetlink/include/libnfnetlink/Makefile
/lib/libgmp/stamp-h1
/lib/libnet/Makefile
/lib/libnet/Makefile.in
/lib/libnet/configure
/lib/libnet/config.log
/lib/libnet/doc/Makefile
/lib/libnet/doc/html/Makefile
/lib/libnet/doc/man/Makefile
/lib/libnet/doc/man/man3/Makefile
/lib/libnet/include/Makefile
/lib/libnet/include/config.h
/lib/libnet/include/libnet.h
/lib/libnet/include/libnet/Makefile
/lib/libnet/include/stamp-h1
/lib/libnet/include/win32/Makefile
/lib/libnet/libnet-config
/lib/libnet/sample/Makefile
/lib/libnet/src/Makefile
/lib/libnet/version.h
/lib/libnet/win32/Makefile
/lib/libusb-1.0/Makefile
/lib/libusb-1.0/doc/Makefile
/lib/libusb-1.0/examples/Makefile
/lib/libusb-1.0/libusb/Makefile
/lib/libusb-1.0/tests/Makefile
/lib/libpcap/Makefile
/lib/libpcap/Mkaefile.in
/lib/libpcap/configure
/lib/libpcap/autom4te.cache
/lib/libpcap/autom4te.cache/*
/user/busybox/*/Config.in
/user/busybox/docs/busybox.net/BusyBox.html
/user/busybox/include/bbconfigopts_bz2.h
/user/busybox/include/NUM_APPLETS.h
/user/chillispot/chillispot-1.1.0/stamp-h1
/user/dropbear/Makefile
/user/dropbear/configure
/user/ethtool/autom4te.cache
/user/ethtool/autom4te.cache/*
/user/ntfs-3g/stamp-h1
/user/openssl/apps/CA.pl
/user/openssl/apps/CA.pl.bak
/user/openssl/Makefile
/user/openssl/Makefile.bak
/user/openssl/tools/c_rehash
/user/openssl/tools/c_rehash.bak
/user/ppp/chat/Makefile
/user/ppp/Makefile
/user/ppp/*/Makefile
/user/ppp/pppd/Makefile
/user/ppp/pppd/plugins/Makefile
/user/ppp/pppd/plugins/*/Makefile
/user/ppp/pppd/plugins/pppoatm/Makefile
/user/ppp/pppd/plugins/pppol2tp/Makefile
/user/ppp/pppd/plugins/pptp/Makefile
/user/ppp/pppd/plugins/radius/Makefile
/user/ppp/pppd/plugins/rp-pppoe/Makefile
/user/ppp/pppstats/Makefile
/user/radvd/aclocal.m4
/user/radvd/autom4te.cache
/user/radvd/autom4te.cache/*
/user/radvd/config.h
/user/radvd/config.status
/user/radvd/configure
/user/radvd/device.c
/user/radvd/Makefile.in
/user/radvd/scanner.c
/user/radvd/stamp-h1
/user/radvd/Makefile
/user/radvd/redhat/radvd.spec
/user/transmission/autom4te.cache/*
/user/transmission/Makefile.in
/user/transmission/configure
/user/quagga/doc/Makefile
/user/quagga/doc/Makefile.in
/user/quagga/doc/quagga.info
/user/quagga/doc/quagga.info-1
/user/quagga/doc/quagga.info-2
/user/quagga/solaris/Makefile
/user/quagga/tests/Makefile
/user/quagga/tests/test-commands-defun.c
/user/quagga/tests/bgpd.tests/Makefile
/user/quagga/tests/libzebra.tests/Makefile
/user/quagga/autom4te.cache
/user/quagga/autom4te.cache/*
/user/quagga/config.h.in~
/user/quagga/stamp-h1
/user/quagga/configure
/user/quagga/Makefile
/user/quagga/Makefile.in
/user/quagga/bgpd/Makefile
/user/quagga/bgpd/Makefile.in
/user/quagga/ospf6d/Makefile
/user/quagga/ospf6d/Makefile.in
/user/quagga/ospfd/Makefile
/user/quagga/ospfd/Makefile.in
/user/quagga/ripngd/Makefile
/user/quagga/ripngd/Makefile.in
/user/quagga/vtysh/Makefile
/user/quagga/vtysh/Makefile.in
/user/quagga/babeld/Makefile
/user/quagga/babeld/Makefile.in
/user/quagga/config.h
/user/quagga/isisd/Makefile
/user/quagga/isisd/Makefile.in
/user/quagga/isisd/topology/Makefile
/user/quagga/isisd/topology/Makefile.in
/user/quagga/lib/Makefile
/user/quagga/lib/Makefile.in
/user/quagga/lib/version.h
/user/quagga/m4/Makefile
/user/quagga/m4/Makefile.in
/user/quagga/ospfclient/Makefile
/user/quagga/ospfclient/Makefile.in
/user/quagga/pkgsrc/Makefile
/user/quagga/pkgsrc/Makefile.in
/user/quagga/pkgsrc/bgpd.sh
/user/quagga/pkgsrc/ospf6d.sh
/user/quagga/pkgsrc/ospfd.sh
/user/quagga/pkgsrc/ripd.sh
/user/quagga/pkgsrc/ripngd.sh
/user/quagga/pkgsrc/zebra.sh
/user/quagga/redhat/Makefile
/user/quagga/redhat/Makefile.in
/user/quagga/redhat/quagga.spec
/user/quagga/ripd/Makefile
/user/quagga/ripd/Makefile.in
/user/quagga/ripd/ripd
/user/quagga/vtysh/extract.pl
/user/quagga/watchquagga/Makefile
/user/quagga/watchquagga/watchquagga
/user/quagga/zebra/Makefile
/user/quagga/zebra/Makefile.in
/user/quagga/zebra/testzebra
/user/quagga/zebra/zebra
/user/tcpdump/Makefile
/user/tcpdump/Mkaefile.in
/user/tcpdump/configure
/user/tcpdump/autom4te.cache
/user/tcpdump/autom4te.cache/*
/user/dhcp6/wide-dhcpv6/autom4te.cache
/user/dhcp6/wide-dhcpv6/autom4te.cache/*
/user/dhcp6/wide-dhcpv6/configure
/user/dhcp6/wide-dhcpv6/configure.log
/user/dhcp6/wide-dhcpv6/Makefile
/toolchain/tmp/mipsel-linux-uclibc-toolchain/binutils-2.21/*
/toolchain/tmp/mipsel-linux-uclibc-toolchain/build-binutils/*
/toolchain/tmp/mipsel-linux-uclibc-toolchain/build-gcc-bootstrap/*
/toolchain/tmp/mipsel-linux-uclibc-toolchain/build-gcc-bootstrap-cpp/*
/toolchain/tmp/mipsel-linux-uclibc-toolchain/gcc-4.5.3/*
/toolchain/tmp/mipsel-linux-uclibc-toolchain/include/*
/toolchain/tmp/mipsel-linux-uclibc-toolchain/uClibc-0.9.28/*
/user/miniupnp/config.h
/linux/*
/linux-2.6.21.x/include/linux/autoconf.h
/linux-2.6.21.x/include/linux/utsrelease.h
/linux-2.6.21.x/arch/mips/kernel/vmlinux.lds
/linux-2.6.21.x/include/asm-mips/asm-offsets.h
/linux-2.6.21.x/include/linux/compile.h
